.button {
  background-color: #000;
}

.button__profile {
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
.button__profile:hover {
  opacity: 0.6;
}
.button__profile-image {
  width: 10px;
  height: 10px;
}
@media screen and (max-width: 1279px) {
  .button__profile {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button__profile-image {
    width: 250%;
    height: 100%;
  }
}
