.button-submit {
  width: 358px;
  height: 50.152px;
  margin: 18px auto 37px;
  color: #fff;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  border-radius: 2px;
  border-color: none;
  border-style: none;
}
.button-submit:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1279px) {
  .button-submit {
    width: 238px;
    height: 46px;
    margin: 16px auto 25px;
    font-size: 14px;
  }
}
