.profile {
  outline: 1px solid red;
  width: 69%;
  max-width: 880px;
  margin: 0 auto 50px;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 150px 580px 150px;
  gap: 10px;
}
.profile__image {
  margin: 0;
  width: 120px;
  height: 120px;
}
.profile__info {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
}
.profile__info_edit {
  outline: 1px solid red;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.profile__artist {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
}
.profile__text {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
